<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>167820097978-293mgku5v2a6b4boj73p27n89ivnc2ok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167820097978-293mgku5v2a6b4boj73p27n89ivnc2ok</string>
	<key>API_KEY</key>
	<string>AIzaSyCo7AgM00_3PgXPJUdk55EVS74qQJvuIDU</string>
	<key>GCM_SENDER_ID</key>
	<string>167820097978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>outingsco.Outings</string>
	<key>PROJECT_ID</key>
	<string>outings-137</string>
	<key>STORAGE_BUCKET</key>
	<string>outings-137.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167820097978:ios:92149ba57d4b6b2a</string>
	<key>DATABASE_URL</key>
	<string>https://outings-137.firebaseio.com</string>
</dict>
</plist>